<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "format-detection" content = "telephone=no">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/fonticon/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/template/indexList.css">
	<link rel="stylesheet" type="text/css" href="../../css/index/searchIndex.css">
</head>
<body ng-controller="searchCtrl">
	<ul ngd-click="showDetail($event, task.id)" selector="li">
		<li class="task" ng-repeat="task in tasks">
			<div class="task_info_row">
				<div class="task_row_left" ng-bind="task.title"></div>
				<div class="task_row_right">
					<span class="price" ng-bind="task.unitPrice+'/单'"></span>
				</div>
			</div>
			<div class="task_content" ng-bind="task.content"></div>
			<div class="label_list">
				<span class="label" ng-repeat="tag in task.tags" ng-bind="tag"></span>
			</div>
			<div class="task_footer task_info_row">
				<div class="task_row_left">
					<span class="icon_address" ng-bind="task.area"></span>
				</div>
				<div class="task_row_right" ng-bind="task.createTime | date:'yyyy/MM/dd'"></div>
			</div>
		</li>
	</ul>
</body>
<script src="../../libs/angular.min.js"></script>
<script src="../../libs/angular-delegates.js"></script>
<script src="../../js/app.js"></script>
<script>
	angular.module('module',['APP','DelegateEvents'])
	.controller('searchCtrl', ['$scope','ajax','refreshHeaderLoadDone','openWin',function($scope,ajax,refreshHeaderLoadDone,openWin){
		$scope.tasks=[];
		var page=0;
		var keyword=api.pageParam.keyword;
		var business=api.pageParam.business;

		if(keyword!=undefined){
			ajax({
				url:'index/search',
				method:'get',
				data:{
					keyword:keyword,
					business:business,
					page:page
				},
				success:function(data){
					$scope.tasks=data.data;
				}
			});
		}

		api.addEventListener({
		    name: 'searchClick'
		}, function(ret, err) {
		    keyword=ret.value.keyword;

		    ajax({
				url:'index/search',
				method:'get',
				data:{
					keyword:keyword,
					business:business,
					page:page
				},
				success:function(data){
					$scope.tasks=data.data;
				}
			});
		});

		// 跳转到“服务/需求”详情页
		$scope.showDetail=function(e,id){
			if(business=='SERVICE'){
				openWin({
					name:'serviceDetail',
					url:'../service/serviceDetail.html',
					pageParam:{
						serviceId:id
					}
				})
			}else if(business=='TASK'){
				openWin({
				name:'demandsDetail',
				url:'../demand/demandsDetail.html',
				pageParam:{
					taskId:id
				}
			})
			}
		}

		// 上拉加载数据
		api.addEventListener({
			name:"scrolltobottom"
		},
		function(ret,err){
			if(keyword!=undefined){
				ajax({
					url:"index/search",
					method:"get",
					data:{
						page:++page,
						keyword:keyword,
						business:business
					},
					success:function(data,header){
						$scope.tasks=$scope.tasks.concat(data.data);
					}
				});
			}
		});

		// 下拉刷新
		api.setRefreshHeaderInfo({
		    visible: true,
		    bgColor: '#ccc',
		    textColor: '#fff',
		    textDown: '下拉刷新...',
		    textUp: '松开刷新...',
		    showTime: true
		}, function(ret, err) {
				page=0;
		    if(keyword!=undefined){
					ajax({
						url:'index/search',
						method:'get',
						data:{
							keyword:keyword,
							business:business,
							page:page
						},
						success:function(data){
							$scope.tasks=data.data;
							api.refreshHeaderLoadDone();
						}
					});
				}
		});
	}])
    apiready = function(){
        angular.bootstrap(document,['module']);
    }
</script>
</html>