body {
  background-color: #E6E6E6;
  color: #1f1a17;
  font-size: 14px;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 52px;
  height: 52px;
  background-color: #3e454d;
  text-align: center;
  color: #fff;
  font-size: 16px;
  z-index: 1000;
}
header span {
  font-size: 16px;
}
header .back_btn {
  position: absolute;
  left: 20px;
}
header .back_btn:before {
  font-size: 22px;
  line-height: 52px !important;
}
form {
  margin-top: 52px;
}
.form_group {
  background-color: #fff;
  border-top: solid 10px #E6E6E6;
  border-bottom: solid 10px #E6E6E6;
  font-size: 14px;
}
.form_row {
  height: 40px;
  line-height: 40px;
  position: relative;
}
.form_row span {
  position: absolute;
  left: 20px;
  top: 0;
  font-size: 14px;
}
.form_row input {
  text-align: right;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 40px 0 134px;
  border: none;
  line-height: 16px;
}
.form_row .id_card_number,
.form_row .card_number {
  padding: 0 20px 0 134px;
}
.form_row:after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #E6E6E6;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.realname input {
  padding: 0 20px 0 134px;
}
.icon_right {
  position: relative;
}
.icon_right:before {
  position: absolute;
  right: 20px;
  color: #c2c1c1;
  font-size: 18px;
  margin: auto 0;
  top: 0;
  bottom: 0;
  height: 1em;
}
.upload_IDCard_show {
  background: #fff;
  padding: 10px 0;
  text-align: center;
}
.upload_IDCard_show p {
  margin-top: 20px;
  font-size: 12px;
  color: #969593;
}
.upload_IDCard_show img {
  width: 170px;
  height: 104px;
}
.icon_IDCard {
  font-size: 104px;
  background-color: #000;
  text-align: center;
  width: 170px;
  height: 104px;
  overflow: hidden;
  margin: 0 auto;
}
.icon_IDCard:before {
  color: #fff;
  background-color: #000;
}
.upload_IDCard {
  text-align: center;
  color: #ff7f66;
  background-color: #fff;
  line-height: 50px;
  border-top: solid 10px #E6E6E6;
  font-size: 14px;
}
.shot_IDCard {
  position: relative;
}
.shot_IDCard:after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #E6E6E6;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.icon_alipay,
.icon_wechat_1 {
  position: relative;
}
.icon_alipay:before,
.icon_wechat_1:before {
  font-size: 32px;
  position: absolute;
  top: 10px;
}
.icon_alipay:before {
  color: #55ABE4;
}
.icon_wechat_1:before {
  color: #10CD6D;
}
.pay_detail {
  padding-left: 42px;
  color: #969593;
  font-size: 14px;
}
.confirm_btn {
  background-color: #ff7f66;
  border-radius: 22px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.confirm_wraper {
  background-color: #E6E6E6;
  padding: 0 20px;
}
.percent_wraper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  vertical-align: middle;
}
.percent_wraper p {
  color: #fff;
  display: inline-block;
  font-size: 20px;
}
.percent_wraper:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/*# sourceMappingURL=userCredit.css.map */
