.ui_group {
  background: #fff;
  margin-top: 20px;
  font-size: 14px;
}
.ui_group:last-child {
  margin-bottom: 20px;
}
.ui_row_left img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.ui_group .alreadyAttention {
  color: #dededc;
}
.list_content {
  background-color: #E6E6E6;
  padding-top: 10px;
}
.listTop {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
.listTop .contentTop_left {
  display: box;
  display: -webkit-box;
  -webkit-box-align: center;
  box-align: center;
}
.listTop .contentTop_left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.listTop .contentTop_left > div {
  box-flex: 1;
  -webkit-box-flex: 1;
  margin-left: 10px;
}
.listTop .contentTop_left > div p {
  font-size: 12px;
  line-height: 14px;
}
.listTop .contentTop_left > div p .gender {
  margin-left: 10px;
  color: #DA3FC7;
}
.listTop .contentTop_left .chat {
  color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #ff7f66;
}
.listBottom {
  padding: 0 20px;
  background: #fff;
  margin-top: 14px;
}
.talk {
  background: #dededc;
  text-align: center;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
}
.conentDetail {
  word-wrap: break-word;
}
.contentReward div {
  position: relative;
  text-align: center;
}
.contentReward div p:nth-child(1) {
  position: absolute;
  right: 0px;
  left: 0px;
  top: -7px;
  margin: 0px auto;
  width: 40px;
  font-size: 12px;
  background-color: #fff;
  z-index: 1;
}
.contentReward div .inline {
  margin-top: 23px;
  width: 100%;
  height: 1px;
  background: #ebeaf0;
  transform: scaleY(0.3);
}
.contentReward div:nth-child(2) {
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.contentReward div:nth-child(2):after {
  content: '';
  width: 100%;
  height: 1px;
  transform: scaleY(0.3);
  -webkit-transform: scaleY(0.3);
  background: #ebeaf0;
  position: absolute;
  top: 100%;
  left: 0;
}
.bottom {
  padding-top: 0;
  margin-top: 0;
}
.bottom p {
  text-align: center;
  color: #1f1a17;
  margin-top: 11px;
  margin-bottom: 11px;
}
.listCenter {
  background: #fff;
  padding-bottom: 10px;
}
.listCenter .title {
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #ff7f66;
}
.listCenter .ui_group .ui_row {
  display: box;
  display: -webkit-box;
  box-pack: justify;
  -webkit-box-pack: justify;
}
.listCenter .ui_group .ui_row .user_info {
  display: inline-block;
  text-indent: 0;
  margin-left: 5px;
  vertical-align: middle;
}
.listCenter .ui_group .ui_row .user_info span {
  font-size: 16px;
}
.listCenter .ui_group .ui_row .user_info span.time {
  color: #777;
}
.ui_group .list {
  padding: 0;
}
.total {
  text-align: center;
  font-size: 14px;
  color: #ff7f66;
  vertical-align: bottom;
}
.bottonBtn {
  height: 45px;
  border: none;
  background: #ff7f66;
  width: 100%;
  font-size: 14px;
  color: #fff;
}
.contentListBottom {
  background: #fff;
  margin: 10px;
  border-radius: 12px;
}
.contentListBottom .row {
  border-bottom: 1px solid #E6E6E6;
  overflow: hidden;
  padding-bottom: 14px;
}
.contentListBottom .title {
  height: 30px;
  text-indent: 10px;
  line-height: 30px;
  border-bottom: 1px solid #E6E6E6;
}
.contentListBottom .row {
  display: box;
  display: -webkit-box;
}
.contentListBottom .rowLeft {
  width: 34px;
  height: 34px;
  margin-top: 14px;
  border-radius: 50%;
  margin-left: 10px;
  display: inline;
}
.contentListBottom .rowRight {
  display: box;
  display: -webkit-box;
  box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
.contentListBottom .rowRight .titleTop {
  display: box;
  display: -webkit-box;
  box-pack: justify;
  -webkit-box-pack: justify;
  margin-top: 14px;
  font-size: 14px;
  color: #1f1a17;
}
.contentListBottom .rowRight .titleTop span {
  color: pink;
}
.contentListBottom .rowRight .titleTop div:nth-child(2) {
  color: #969593;
}
.contentListBottom .rowRight p {
  line-height: 150%;
  font-size: 14px;
  color: #969593;
}
.moduleList {
  padding: 6px 10px;
  margin-bottom: 10px;
}
.ui_group {
  margin-top: 0;
}
.dialog_mask {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 0;
}
.dialog_mask:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.dialog {
  border-radius: 4px;
  font-size: 16px;
  background: #f3f4f6;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 250px;
}
.dialog_title {
  padding: 4px 15px 0px;
  text-align: left;
  margin: 7px 0;
  font-size: 20px;
}
.dialog_title h4 {
  height: 20px;
  line-height: 20px;
  margin: 0px;
  font-size: 18px;
  text-align: center;
}
.dialog_title p {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-top: 2px;
}
.dialog_body {
  padding: 4px 15px;
  color: #969593;
}
.dialog_btns h4,
p {
  padding: 0;
  margin: 0;
}
.dialog_body textarea {
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  border: none;
  overflow: hidden;
  resize: none;
}
.dialog_body p {
  font-size: 14px;
  line-height: 300%;
}
.cancelBtn,
.confirmBtn {
  color: #fff;
  border: none;
  font-size: 14px;
  padding: 0;
  text-align: center;
  line-height: 300%;
  width: 50%;
  margin: 0;
}
.cancelBtn {
  float: left;
  background: #3e454d;
  border-radius: 0 0 0 4px;
}
.confirmBtn {
  background: #ff7f66;
  border-radius: 0 0 4px 0;
}
.mask .dialog_title {
  text-align: center;
}
.body {
  padding-bottom: 10px;
}
.disable {
  background: #b1b2b3;
  color: #E3E5E6;
}
.person .icon_man {
  color: #7dcefd !important;
}
.agreement {
  color: #969593;
  font-size: 14px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  padding: 10px 20px 40px 20px;
  position: relative;
}
.agreement_wraper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0;
  text-align: center;
  z-index: 1000;
}
.agreement_wraper p {
  text-align: left;
}
.agreement_wraper:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.agreement_wraper label {
  margin: 10px auto;
  display: block;
  font-size: 14px;
  color: #1f1a17;
}
.agreement_wraper label input {
  margin: 2px 6px 0 0px;
  width: 12px;
  height: 12px;
  background: #fff;
  border: 1px solid #E6E6E6;
}
.close_btn {
  position: absolute;
  bottom: 0px;
  color: #fff;
  left: 0;
  line-height: 40px;
  height: 40px;
  background: #ff7f66;
  width: 100%;
}
/*# sourceMappingURL=demandsDetail.css.map */
