<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name = "format-detection" content = "telephone=no">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/reset.css"/>
		<link rel="stylesheet" href="../../css/account/account.css"/>
		<link rel="stylesheet" href="../../css/fonticon/style.css"/>
		<link rel="stylesheet" href="../../css/account/index.css" />
	</head>

	<body ng-controller="controller">
		<form name="form">
			<div class="header">
				<div class="logo"><img src="../../img/logo.png"  alt=""></div>
				<h2>找回密码</h2>
			</div>
			<div class="form_row icon_phone">
				<input type="text" name="phone" id="registerPhone" ng-model="phone" ng-pattern="/^1[3|4|5|7|8]\d{9}$/" required placeholder="请输入您的手机号" />
			</div>
			<div class="form_row icon_password">
				<input type="password" placeholder ="请输入新密码" ng-model="password"  required/>
			</div>
			<div class="form_row icon_password">
				<input type="password" placeholder ="请确认新密码" ng-model="password2"  required/>
			</div>
			<div class="form_row icon_test test">
				<input type="number" ng-model="secCode" required placeholder="请输入短信验证码" maxlength="6" />
				<button class="send_code" type="button"  ng-click="sendSMS();">
				<div ng-if="!SMS">获取验证码</div>
				<div ng-if="SMS"><span ng-bind="SMS"></span> s</div>
				</button>
			</div>
			<button type="button" class="btn" ng-disabled="form.$invalid" ng-click="register()">确认修改</button>
		</form>
	</body>
	<script src="../../libs/angular.min.js"></script>
	<script src="../../libs/angular.min.js"></script>
	<script src="../../js/app.js"></script>
	<script>
	angular.module("module", ["APP"])
	.controller("controller", ['$scope','countSMS','ajax',function($scope,countSMS,ajax) {
		$scope.SMS = false;
		//发送验证码
		$scope.sendSMS = function () {
			if( $scope.form.phone.$invalid || $scope.SMS ) {
				if( $scope.form.phone.$invalid ) {
					api.toast({
						msg: "请输入正确的手机号",
						duration: 1000,
						location: 'bottom'
					});
				}
			} else {
				// 发送验证码
				ajax({
					url: "account/resetpwd/code",
					method: "get",
					data : {
						"phone" : $scope.phone
					},
					success : function(data, header) {
						 // 计时
						 countSMS(true, $scope);
					}
				});
			}
		};
		$scope.register =function(){
			if ( $scope.form.$invalid ) {
				//表单未通过验证，提示用户 form.$error包含提示信息
				var errorMes = "";
				if( $scope.form.phone.$error.pattern ) {
					errorMes = "请输入正确的手机号";
				}else if ( $scope.form.phone.$error.required ) {
					errorMes = "请输入手机号";
				}else if ( $scope.form.password.$error.required ) {
					errorMes = "请输入密码";
				}else if ( $scope.form.secCode.$error.required ) {
					errorMes = "请输入验证码";
				}else if ( $scope.form.secCode.$error.maxlength ) {
					errorMes = "请输入正确的验证码";
				}
				
				api.toast({
					msg: errorMes,
					duration: 1000,
					location: 'bottom'
				});
				
			} else{
				if( $scope.password != $scope.password2 ){
					api.toast({
						msg: "您两次输入的密码不一致",
						duration: 1000,
						location: 'bottom'
					});
				}else{
					// 重新设置新密码
					ajax({
						url: "account/resetpwd",
						method: "post",
						data : {
							"phone" : $scope.phone,
							"password" : $scope.password,
							"code" : $scope.secCode
						},
						success: function(data, header) {
							api.setFrameGroupIndex({
								name: 'loginRegister',
								index: 1,
								scroll: false
							});
						}
					});
				}
			}
		}
	}]);
	apiready = function(){
			angular.bootstrap(document, ["module"]);
		}
	</script>
</html>